#quiz_panels_wrap {
    width: 600px;
    height: 500px;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/Content/Images/loading.gif");
}

.quiz_panel {
    background-image: url("/Content/Images/images.png");
    display: none;
    position: absolute;
    width: 600px;
    height: 500px;
}

#q01_img {
    background-image: url("/Content/Images/images.png");
    background-position: 0px 0px;
    display: block;
    width: 600px;
    height: 500px;
}
