#quiz_panels_wrap {
    width: 600px;
    height: 500px;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/inrc/Quiz/Content/Images/loading.gif");
}

.q_img {
    display: none;
    position: absolute;
    width: 600px;
    height: 500px;
}

#q01_img {
    display: block;
    background-image: url("/inrc/Quiz/Content/Images/bg.jpg");
}
#q02_img {
}
